@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Open Sans', ui-serif;
}

.crisp-edges {
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}